.DS_Store
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
profile
*.pbxuser
*.mode1v3
*.perspectivev3
*.mode2v3
*.xccheckout
*.moved-aside
*.hmap
*.xccheckout
*.xcworkspacedata
*.xcuserstate
*.zip
DerivedData/
Release/
Pods/
Carthage/
build/
